<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EquipoEditDlg" widgetVar="EquipoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEquipoTitle}">
            <h:form id="EquipoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{equipoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEquipoLabel_idequipo}" for="idequipo" />
                        <p:inputText id="idequipo" value="#{equipoController.selected.idequipo}" title="#{bundle.EditEquipoTitle_idequipo}" required="true" requiredMessage="#{bundle.EditEquipoRequiredMessage_idequipo}"/>
                        <p:outputLabel value="#{bundle.EditEquipoLabel_nombreequipo}" for="nombreequipo" />
                        <p:inputText id="nombreequipo" value="#{equipoController.selected.nombreequipo}" title="#{bundle.EditEquipoTitle_nombreequipo}" required="true" requiredMessage="#{bundle.EditEquipoRequiredMessage_nombreequipo}"/>
                        <p:outputLabel value="#{bundle.EditEquipoLabel_directortecnico}" for="directortecnico" />
                        <p:inputText id="directortecnico" value="#{equipoController.selected.directortecnico}" title="#{bundle.EditEquipoTitle_directortecnico}" required="true" requiredMessage="#{bundle.EditEquipoRequiredMessage_directortecnico}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{equipoController.update}" value="#{bundle.Save}" update="display,:EquipoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EquipoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EquipoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
