<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CalendarioCreateDlg" widgetVar="CalendarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCalendarioTitle}">
            <h:form id="CalendarioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{calendarioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCalendarioLabel_idcalendario}" for="idcalendario" />
                        <p:inputText id="idcalendario" value="#{calendarioController.selected.idcalendario}" title="#{bundle.CreateCalendarioTitle_idcalendario}" required="true" requiredMessage="#{bundle.CreateCalendarioRequiredMessage_idcalendario}"/>
                        <p:outputLabel value="#{bundle.CreateCalendarioLabel_lugarevento}" for="lugarevento" />
                        <p:inputText id="lugarevento" value="#{calendarioController.selected.lugarevento}" title="#{bundle.CreateCalendarioTitle_lugarevento}" required="true" requiredMessage="#{bundle.CreateCalendarioRequiredMessage_lugarevento}"/>
                        <p:outputLabel value="#{bundle.CreateCalendarioLabel_fechayhora}" for="fechayhora" />
                        <p:calendar id="fechayhora" pattern="MM/dd/yyyy" value="#{calendarioController.selected.fechayhora}" title="#{bundle.EditCalendarioTitle_fechayhora}" required="true" requiredMessage="#{bundle.EditCalendarioRequiredMessage_fechayhora}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateCalendarioLabel_equipolocal}" for="equipolocal" />
                        <p:inputText id="equipolocal" value="#{calendarioController.selected.equipolocal}" title="#{bundle.CreateCalendarioTitle_equipolocal}" required="true" requiredMessage="#{bundle.CreateCalendarioRequiredMessage_equipolocal}"/>
                        <p:outputLabel value="#{bundle.CreateCalendarioLabel_equipovisitante}" for="equipovisitante" />
                        <p:inputText id="equipovisitante" value="#{calendarioController.selected.equipovisitante}" title="#{bundle.CreateCalendarioTitle_equipovisitante}" required="true" requiredMessage="#{bundle.CreateCalendarioRequiredMessage_equipovisitante}"/>
                        <p:outputLabel value="#{bundle.CreateCalendarioLabel_numerofecha}" for="numerofecha" />
                        <p:inputText id="numerofecha" value="#{calendarioController.selected.numerofecha}" title="#{bundle.CreateCalendarioTitle_numerofecha}" required="true" requiredMessage="#{bundle.CreateCalendarioRequiredMessage_numerofecha}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{calendarioController.create}" value="#{bundle.Save}" update="display,:CalendarioListForm:datalist,:growl" oncomplete="handleSubmit(args,'CalendarioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CalendarioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
