<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListCalendarioTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="CalendarioListForm">
                <p:panel header="#{bundle.ListCalendarioTitle}">
                    <p:dataTable id="datalist" value="#{calendarioController.items}" var="item"
                                 selectionMode="single" selection="#{calendarioController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idcalendario}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCalendarioTitle_idcalendario}"/>
                            </f:facet>
                            <h:outputText value="#{item.idcalendario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCalendarioTitle_lugarevento}"/>
                            </f:facet>
                            <h:outputText value="#{item.lugarevento}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCalendarioTitle_fechayhora}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechayhora}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCalendarioTitle_equipolocal}"/>
                            </f:facet>
                            <h:outputText value="#{item.equipolocal}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCalendarioTitle_equipovisitante}"/>
                            </f:facet>
                            <h:outputText value="#{item.equipovisitante}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCalendarioTitle_numerofecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.numerofecha}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{calendarioController.prepareCreate}" update=":CalendarioCreateForm" oncomplete="PF('CalendarioCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":CalendarioViewForm" oncomplete="PF('CalendarioViewDialog').show()" disabled="#{empty calendarioController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":CalendarioEditForm" oncomplete="PF('CalendarioEditDialog').show()" disabled="#{empty calendarioController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{calendarioController.destroy}" update=":growl,datalist" disabled="#{empty calendarioController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
