<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CalendarioViewDlg" widgetVar="CalendarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCalendarioTitle}">
            <h:form id="CalendarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{calendarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewCalendarioLabel_idcalendario}"/>
                        <h:outputText value="#{calendarioController.selected.idcalendario}" title="#{bundle.ViewCalendarioTitle_idcalendario}"/>
                        <h:outputText value="#{bundle.ViewCalendarioLabel_lugarevento}"/>
                        <h:outputText value="#{calendarioController.selected.lugarevento}" title="#{bundle.ViewCalendarioTitle_lugarevento}"/>
                        <h:outputText value="#{bundle.ViewCalendarioLabel_fechayhora}"/>
                        <h:outputText value="#{calendarioController.selected.fechayhora}" title="#{bundle.ViewCalendarioTitle_fechayhora}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewCalendarioLabel_equipolocal}"/>
                        <h:outputText value="#{calendarioController.selected.equipolocal}" title="#{bundle.ViewCalendarioTitle_equipolocal}"/>
                        <h:outputText value="#{bundle.ViewCalendarioLabel_equipovisitante}"/>
                        <h:outputText value="#{calendarioController.selected.equipovisitante}" title="#{bundle.ViewCalendarioTitle_equipovisitante}"/>
                        <h:outputText value="#{bundle.ViewCalendarioLabel_numerofecha}"/>
                        <h:outputText value="#{calendarioController.selected.numerofecha}" title="#{bundle.ViewCalendarioTitle_numerofecha}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CalendarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
