<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JugadorCreateDlg" widgetVar="JugadorCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateJugadorTitle}">
            <h:form id="JugadorCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jugadorController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateJugadorLabel_idjugador}" for="idjugador" />
                        <p:inputText id="idjugador" value="#{jugadorController.selected.idjugador}" title="#{bundle.CreateJugadorTitle_idjugador}" required="true" requiredMessage="#{bundle.CreateJugadorRequiredMessage_idjugador}"/>
                        <p:outputLabel value="#{bundle.CreateJugadorLabel_nombrejugador}" for="nombrejugador" />
                        <p:inputText id="nombrejugador" value="#{jugadorController.selected.nombrejugador}" title="#{bundle.CreateJugadorTitle_nombrejugador}" required="true" requiredMessage="#{bundle.CreateJugadorRequiredMessage_nombrejugador}"/>
                        <p:outputLabel value="#{bundle.CreateJugadorLabel_apellidojugador}" for="apellidojugador" />
                        <p:inputText id="apellidojugador" value="#{jugadorController.selected.apellidojugador}" title="#{bundle.CreateJugadorTitle_apellidojugador}" required="true" requiredMessage="#{bundle.CreateJugadorRequiredMessage_apellidojugador}"/>
                        <p:outputLabel value="#{bundle.CreateJugadorLabel_edad}" for="edad" />
                        <p:inputText id="edad" value="#{jugadorController.selected.edad}" title="#{bundle.CreateJugadorTitle_edad}" required="true" requiredMessage="#{bundle.CreateJugadorRequiredMessage_edad}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jugadorController.create}" value="#{bundle.Save}" update="display,:JugadorListForm:datalist,:growl" oncomplete="handleSubmit(args,'JugadorCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JugadorCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
