<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JugadorEditDlg" widgetVar="JugadorEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditJugadorTitle}">
            <h:form id="JugadorEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jugadorController.selected != null}">
                        <p:outputLabel value="#{bundle.EditJugadorLabel_idjugador}" for="idjugador" />
                        <p:inputText id="idjugador" value="#{jugadorController.selected.idjugador}" title="#{bundle.EditJugadorTitle_idjugador}" required="true" requiredMessage="#{bundle.EditJugadorRequiredMessage_idjugador}"/>
                        <p:outputLabel value="#{bundle.EditJugadorLabel_nombrejugador}" for="nombrejugador" />
                        <p:inputText id="nombrejugador" value="#{jugadorController.selected.nombrejugador}" title="#{bundle.EditJugadorTitle_nombrejugador}" required="true" requiredMessage="#{bundle.EditJugadorRequiredMessage_nombrejugador}"/>
                        <p:outputLabel value="#{bundle.EditJugadorLabel_apellidojugador}" for="apellidojugador" />
                        <p:inputText id="apellidojugador" value="#{jugadorController.selected.apellidojugador}" title="#{bundle.EditJugadorTitle_apellidojugador}" required="true" requiredMessage="#{bundle.EditJugadorRequiredMessage_apellidojugador}"/>
                        <p:outputLabel value="#{bundle.EditJugadorLabel_edad}" for="edad" />
                        <p:inputText id="edad" value="#{jugadorController.selected.edad}" title="#{bundle.EditJugadorTitle_edad}" required="true" requiredMessage="#{bundle.EditJugadorRequiredMessage_edad}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jugadorController.update}" value="#{bundle.Save}" update="display,:JugadorListForm:datalist,:growl" oncomplete="handleSubmit(args, 'JugadorEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JugadorEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
