<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListJugadorTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="JugadorListForm">
                <p:panel header="#{bundle.ListJugadorTitle}">
                    <p:dataTable id="datalist" value="#{jugadorController.items}" var="item"
                                 selectionMode="single" selection="#{jugadorController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idjugador}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJugadorTitle_idjugador}"/>
                            </f:facet>
                            <h:outputText value="#{item.idjugador}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJugadorTitle_nombrejugador}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombrejugador}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJugadorTitle_apellidojugador}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidojugador}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListJugadorTitle_edad}"/>
                            </f:facet>
                            <h:outputText value="#{item.edad}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{jugadorController.prepareCreate}" update=":JugadorCreateForm" oncomplete="PF('JugadorCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":JugadorViewForm" oncomplete="PF('JugadorViewDialog').show()" disabled="#{empty jugadorController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":JugadorEditForm" oncomplete="PF('JugadorEditDialog').show()" disabled="#{empty jugadorController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{jugadorController.destroy}" update=":growl,datalist" disabled="#{empty jugadorController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
