<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JugadorViewDlg" widgetVar="JugadorViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewJugadorTitle}">
            <h:form id="JugadorViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jugadorController.selected != null}">
                        <h:outputText value="#{bundle.ViewJugadorLabel_idjugador}"/>
                        <h:outputText value="#{jugadorController.selected.idjugador}" title="#{bundle.ViewJugadorTitle_idjugador}"/>
                        <h:outputText value="#{bundle.ViewJugadorLabel_nombrejugador}"/>
                        <h:outputText value="#{jugadorController.selected.nombrejugador}" title="#{bundle.ViewJugadorTitle_nombrejugador}"/>
                        <h:outputText value="#{bundle.ViewJugadorLabel_apellidojugador}"/>
                        <h:outputText value="#{jugadorController.selected.apellidojugador}" title="#{bundle.ViewJugadorTitle_apellidojugador}"/>
                        <h:outputText value="#{bundle.ViewJugadorLabel_edad}"/>
                        <h:outputText value="#{jugadorController.selected.edad}" title="#{bundle.ViewJugadorTitle_edad}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="JugadorViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
